/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/
body {
	background: url('/images/bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.wrapper {
    height: 100vh;
    width: 100%;
    margin-top: -200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../images/bg1.jpg') no-repeat center center fixed;
  }
.wrapper1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../images/bg2.gif') no-repeat center center fixed;
  }
  .contact {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background: url('../../images/bg1.jpg') no-repeat center center fixed;
  }
  
  
  .form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #f5f5f5;
  }
  .form-wrapper2{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #dd0e0e;
    margin-top: -200px;
  }
  .form-wrapper3{
    width:1300px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    
  }
  .form-wrapper4{
    width:400px;
    margin-left: 450px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: rgb(211, 127, 127);
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  p { 
      color: #adb7bd; 
      font-family: 'Lucida Sans', 
      Arial, sans-serif; 
      font-size: 16px; 
      line-height: 26px; 
      text-indent: 30px; 
      margin: 0; 
    }
  
  label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: rgb(170, 128, 128);
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: rgb(184, 148, 148);
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .firstName {
    margin-right: 1%;
  }
  
  .lastName {
    margin-left: 1%;
  }
  
  .firstName,
  .lastName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .firstName,
  .lastName {
    width: 100%;
  }
  
  .email,
  .password {
    width: 100%;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
  }
  
  .createAccount small {
    color: #999;
    font-weight: lighter;
  }
  /* .button {
    align-items: center;
    background: rgb(19, 226, 226);
    border: 0;
    border-radius: 3px;
    color: rgba(39, 151, 114, 0.87);
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    margin-top: 20px;
    outline: none;
    padding: 10px 9px 10px 11px;
    text-transform: uppercase;
    width: 50%;
    
  } */
  .square_btn1 {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #00BCD4;
    color: #00BCD4;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.square_btn1:active {
   border-bottom: solid 2px #00BCD4;
   box-shadow: none;
   text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    color: rgba(0, 69, 212, 0.47);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
    
}

.square_btn:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.deg_btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 19px;
    height: 40px;
    line-height: 40px!;
    vertical-align: middle;
    background: #51587b;
    font-size: 20px;
    color: rgb(18, 233, 10);
    transition: .4s;
}

.deg_btn:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width:400 ;
    height: 0;
    border: none;
    border-left: solid 21px white;
    border-bottom: solid 41px transparent;
    z-index: 1;
    transition: .4s;
}

.deg_btn:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 21px transparent;
    border-bottom: solid 41px white;
    z-index: 1;
    transition: .4s;
}

.deg_btn:hover:before, .deg_btn:hover:after{
    border-left-width: 25px;
}

.deg_btn:hover{
    background: #2c3148;
}
.semi-transparent-button {
        
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#c2c2c2;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #cadddb;
}
.transparent_btn {
	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}
.transparent_btn.blue {
	color: #aeddf5;
	border-color: #aeddf5;
}
.transparent_btn.blue:hover {
	background-color: rgba(174, 221, 245, 0.3);
}
.header {
    background-color: rgb(0, 0, 0)
}